<div class = "container-fluid text-center">
    <h1>About page</h1>

    <p>We are DevMatch our companies goal is to conect entrepreneurs 
    and developers to connect and work together to allow for advancement in 
    technology. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo fugit, iure unde necessitatibus, recusandae nam maiores sequi ipsa. Iste, aut vitae, veritatis voluptatibus cumque optio quo delectus itaque maxime saepe.</p>
</div>