/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

.home-callout, .navbar{ //adds gradiant
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar{ //fixes extra nav bar border, making smooth gradiant
    border:none;
}

.navbar-default .navbar-brand{ //changes navbar header
    color:white;
}

.navbar-default .navbar-brand:hover{
    color:white;
    opacity:0.75;
}

.navbar-default .navbar-nav > li > a{ //changes nav bar list items
    color:white;
}

.navbar-default .navbar-nav > li > a:hover{ //changes hover over li
    color:white;
    opacity:0.75;
}

.home-callout p > a{
    color:white;
    text-decoration:underline;
}

.home-callout p > a:hover{
    color:white;
    opacity:0.75;
}

.home-callout{ //smooths out grandiant for header texts
    margin-top:-20px;
    padding-top:50px;
    padding-bottom:150px;
    color:white;
}